html{
  font-family: sans-serif;
  width: 576px;
}
.box{
  flex-direction: column;
  align-items: center;
  width:226px;

}
#biblioteca{
  width: 576px;
}
.banner{
  width: 200px;
  text-align: center;
  padding: 10px;     
  border-radius: 30px;
  border: solid;
}
body{
  background-color: white;
  margin: 30px;
}
.txt-intro{
  width: 300px;
}
h3{
  font-weight: bold;
}


/*  BOTÕES */

.btn{
  background-color: #057231;
  padding: 10px 0;
  border-radius: 10px;
  color: #fff !important;
  text-decoration: none;
}

.btn:hover{
  background-color: goldenrod;
  color: #057231 !important;
}

.btn-alter{
  background-color: goldenrod !important;
  color: #057231 !important;
}
.btn-alter:hover{
  background-color: #057231 !important;
  color: #fff !important;
}

.ctn-bic{
  max-width: 576px !important;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: white;
}