
body{
margin: 0;
    
}
.bem_vindo{

}
.container{
    min-width: 320px
}
.boletim{ 
    display: flex;
    justify-content: space-between;
    
   
}
.Disciplina{
    width: 60%;
    
}
.Nota{
    width: 20%;
   
}
.Faltas{
    width: 20%;
    
  
}
.box{
    width: 100%;
    border: solid;
    border-radius: 5px;
}