
html{
margin:0 auto;
}

body{
    margin:0 !important;
    }
    .menu_perfil{
        min-width: 320px;
        width: 100%;
        top:0;
        position: relative !important;
        display: flex;
        justify-content: space-between;
        background-color: #87CEEB;
        border: 1px solid transparent;
        border-radius: 2px;
        border-radius: 3px;
    }
    .conteudo-menu_perfil{
    padding-right:15px;
    }
    .menu_perfil a img{
        width: 30px;
        margin-top: 8px;
        margin-top: 12px;
        margin-left: 3px;
        margin-right: 3px;
    }
    .menu_perfil{
        min-width: 320px;
        width: 100%;
        position: fixed;
        top: 0;
        display: flex;
        justify-content: space-between;
        background-color: #87CEEB;
        border: 1px solid transparent;
        border-radius: 2px;
        border-radius: 3px;
    }
    .container{
        min-width: 320px
    }
    .lista{ 
        display: flex;
        justify-content: space-between;
        padding-right: 15px;
        
       
    }
    .Disciplina{
        width: 60%;
        
    }
    .Nota{
        width: 20%;
       
    }
    .Faltas{
        width: 20%;
        padding-right:20px;
        
      
    }
    .boletim{
        width: 100%;
        border-bottom: solid;
    }
    .baixa{
    color:red;
    }
    .t1{
    font-weight: bold;
    padding-right:15px;
    }
    .thf{
        width: 100%;
        border-bottom: solid;
        background-color:#87CEEB;

       
    }
    .thf05{
        display: flex;
        justify-content: space-between;
        background-color:#87CEEB;

        
    }
    .conteiner{
        width: 100%;
        margin-top: 14rem;
        margin-right: 20px;
      }
    .menu{
        min-width: 50px;
        min-height: 50px;
        margin-right: 20px;
    }
    .menu_principal{
        display: flex;
        justify-content: space-between;
        background-color: #f0f0f0;
        bottom: 0;
        position: fixed;
        justify-content: space-around;
        width: 100%;
    }
    .btn{
        text-decoration: none;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 10px;
        transition:.5s ease;
    }
    .btn :hover{
        transform: scale(0.5);
    }
    .menu a img{
        width: 40px;
        height: 40px;
        margin-top: 10%;
    }
        .slider{
            overflow: hidden;
            margin: 15px;
        
        }
        .slider > .slider-content{
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            transition: all 500ms ease;
            
        
        }
        
        .slider > .slider-content > .slider-item {
            flex: 0 0 auto;
            width: 100%;
            font-weight:bold;
        }
        
        .slider > input:nth-child(1):checked ~ .slider-content{
            transform: translateX(0%);
        }
        
        .slider > input:nth-child(2):checked ~ .slider-content{
            transform: translateX(-100%);
        }
        .slider > input:nth-child(3):checked ~ .slider-content{
            transform: translateX(-200%);
        }
        
        .slider > input:nth-child(4):checked ~ .slider-content{
            transform: translateX(-300%);
        }
       .carrosel{
        margin-top:30px;
       }