@media screen and (min-width:320px) and (max-width:576px) {
    body{
        margin: 0;
    }
    .conteudo_perfil{
        max-width: 320px;
    }
    .menu_perfil{
        display: flex;
        justify-content: space-between;
        background-color: #9370DB;
        border: 1px solid transparent;
        border-radius: 5px;
    }
    .menu_perfil a img{
        width: 40px;
        margin-top: 8px;
        margin-left: 8px;
    }
    .conteudo-menu_perfil{
        display: flex;
        justify-content: space-between;
    }